.VideoModal {
	width: 90%;
	max-width: 1500px;
}

.GalleryModal {
	width: 90%;
	max-width: 1500px;
}

.SeasonModal {
	width: 90%;
	max-width: 1500px;
}

.ModalHeader {
	background-color: #1b262c;
	border: none;
	align-items: center;
}

.ModalHeader .ModalTitle {
	font-size: 2rem;
	padding-left: 1rem;
}

.ModalHeader :global(.close span) {
	color: white;
	font-size: 3rem;
	line-height: .8;
}

.ModalHeader :global(.close:focus) {
	outline: none;
}

.VideoModal .ModalBody {
	position: relative;
	background-color: #1b262c;
	padding-top: 56.25%;
}

.GalleryModal .ModalBody {
	position: relative;
	background-color: #1b262c;
}

.SeasonModal .ModalBody {
	position: relative;
	background-color: #1b262c;
}

.ReactPlayer {
	position: absolute;
	top: 0;
	left: 0;
}
