.video-modal {
	width: 90%;
	max-width: 1500px;
}

.gallery-modal {
	width: 90%;
	max-width: 1500px;
}

.season-modal {
	width: 90%;
	max-width: 1500px;
}

.modal-header {
	background-color: #1b262c;
	border: none;
	align-items: center;
}

.modal-header .modal-title {
	font-size: 2rem;
	padding-left: 1rem;
}

.modal-header .close span {
	color: white;
	font-size: 3rem;
	line-height: .8;
}

.modal-header .close:focus {
	outline: none;
}

.video-modal .modal-body {
	position: relative;
	background-color: #1b262c;
	padding-top: 56.25%;
}

.gallery-modal .modal-body {
	position: relative;
	background-color: #1b262c;
}

.season-modal .modal-body {
	position: relative;
	background-color: #1b262c;
}

.react-player {
	position: absolute;
	top: 0;
	left: 0;
}
