.pagination {
	justify-content: center;
}

.page-link {
	background-color: rgba(0, 0, 0, .4);
	border: none;
	font-size: 2rem;
	color: white;
	padding: 1rem 2rem;
}

.page-item:hover .page-link {
	color: black;
	border: none;
}

.page-item.active .page-link {
	background-color: white;
	color: black;
}

.page-item.disabled .page-link {
	background-color: rgba(0, 0, 0, .4);
	color: gray;
}

.page-item:first-child .page-link {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.page-item:last-child .page-link {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.page-link:focus {
	box-shadow: none;
}
