.dropdownButtonContainer .dropdownButton {
	font-size: 1.8rem;
	background-color: #1b262c;
	border-color: #fff;
	padding: .5rem 2rem;
}

.dropdownButtonContainer .dropdownButton:focus {
	background-color: #1b262c;
}

.dropdownButtonContainer .dropdownButton:active {
	background-color: #1b262c;
}

.dropdownButtonContainer .dropdownMenu {
	background-color: #1b262c;
	font-size: 1.8rem;
}

.dropdownButtonContainer .dropdownItem {
	color: #fff;
	padding: .7rem 2rem;
}

.dropdownButtonContainer .dropdownItem:active {
	background-color: rgba(255, 255, 255, .5);
}
