.dropdownButtonContainer {
	width: 180px;
}

@media (max-width: 82.5em) {
	.dropdownButtonContainer {
		order: -1;
	}
}

.dropdownButtonContainer .dropdownButton {
	font-size: 1.8rem;
	background-color: #1b262c;
	padding: .5rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.dropdownButtonContainer .dropdownButton:hover {
	background-color: #1b262c;
}

.dropdownButtonContainer .dropdownButton:focus {
	background-color: #1b262c;
}

.dropdownButtonContainer .dropdownButton:active {
	background-color: #1b262c;
}

.dropdownButtonContainer .dropdownMenu {
	background-color: #1b262c;
	font-size: 1.8rem;
}

.dropdownButtonContainer .dropdownItem {
	color: #fff;
	padding: .7rem 2rem;
}

.dropdownButtonContainer .dropdownItem:active {
	background-color: rgba(255, 255, 255, .5);
}
